ClientTCP/xml-resources/web-service-references/UASWebService/wsdl/localhost_8080/UASWebService/UASWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.uas.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.uas.com/">

<xs:element name="addMenu" type="tns:addMenu"/>

<xs:element name="addMenuResponse" type="tns:addMenuResponse"/>

<xs:element name="deleteMenu" type="tns:deleteMenu"/>

<xs:element name="deleteMenuResponse" type="tns:deleteMenuResponse"/>

<xs:element name="getAllMenu" type="tns:getAllMenu"/>

<xs:element name="getAllMenuResponse" type="tns:getAllMenuResponse"/>

<xs:element name="getHistoryByPeriod" type="tns:getHistoryByPeriod"/>

<xs:element name="getHistoryByPeriodResponse" type="tns:getHistoryByPeriodResponse"/>

<xs:element name="getHistoryByUser" type="tns:getHistoryByUser"/>

<xs:element name="getHistoryByUserResponse" type="tns:getHistoryByUserResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="registerUser" type="tns:registerUser"/>

<xs:element name="registerUserResponse" type="tns:registerUserResponse"/>

<xs:element name="searchMenu" type="tns:searchMenu"/>

<xs:element name="searchMenuResponse" type="tns:searchMenuResponse"/>

<xs:element name="updateMenu" type="tns:updateMenu"/>

<xs:element name="updateMenuResponse" type="tns:updateMenuResponse"/>

<xs:element name="updateProfile" type="tns:updateProfile"/>

<xs:element name="updateProfileResponse" type="tns:updateProfileResponse"/>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myModel">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="registerUser">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMenu">
<xs:sequence>
<xs:element name="keyword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMenuResponse">
<xs:sequence>
<xs:element name="return" type="tns:menuItem" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="menuItem">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="available" type="xs:boolean"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="updateProfile">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMenu">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMenu">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="available" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllMenu">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllMenuResponse">
<xs:sequence>
<xs:element name="return" type="tns:menuItem" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHistoryByUser">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHistoryByUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationHistory" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationHistory">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="guestCount" type="xs:int"/>
<xs:element name="reservationDate" type="xs:string" minOccurs="0"/>
<xs:element name="reservationId" type="xs:int"/>
<xs:element name="reservationTime" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="tableNumber" type="xs:string" minOccurs="0"/>
<xs:element name="totalOrderAmount" type="xs:double"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="deleteMenu">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHistoryByPeriod">
<xs:sequence>
<xs:element name="startDate" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHistoryByPeriodResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationHistory" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>