ClientTCP/src/META-INF/wsdl/localhost_8080/UASWebService/UASWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.uas.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.uas.com/" name="UASWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.uas.com/" schemaLocation="http://localhost:8080/UASWebService/UASWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getHistoryByUser">
<part name="parameters" element="tns:getHistoryByUser"/>
</message>
<message name="getHistoryByUserResponse">
<part name="parameters" element="tns:getHistoryByUserResponse"/>
</message>
<message name="searchMenu">
<part name="parameters" element="tns:searchMenu"/>
</message>
<message name="searchMenuResponse">
<part name="parameters" element="tns:searchMenuResponse"/>
</message>
<message name="updateMenu">
<part name="parameters" element="tns:updateMenu"/>
</message>
<message name="updateMenuResponse">
<part name="parameters" element="tns:updateMenuResponse"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="updateProfile">
<part name="parameters" element="tns:updateProfile"/>
</message>
<message name="updateProfileResponse">
<part name="parameters" element="tns:updateProfileResponse"/>
</message>
<message name="getAllMenu">
<part name="parameters" element="tns:getAllMenu"/>
</message>
<message name="getAllMenuResponse">
<part name="parameters" element="tns:getAllMenuResponse"/>
</message>
<message name="deleteMenu">
<part name="parameters" element="tns:deleteMenu"/>
</message>
<message name="deleteMenuResponse">
<part name="parameters" element="tns:deleteMenuResponse"/>
</message>
<message name="addMenu">
<part name="parameters" element="tns:addMenu"/>
</message>
<message name="addMenuResponse">
<part name="parameters" element="tns:addMenuResponse"/>
</message>
<message name="getHistoryByPeriod">
<part name="parameters" element="tns:getHistoryByPeriod"/>
</message>
<message name="getHistoryByPeriodResponse">
<part name="parameters" element="tns:getHistoryByPeriodResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="UASWebService">
<operation name="hello">
<input wsam:Action="http://service.uas.com/UASWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.uas.com/UASWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getHistoryByUser">
<input wsam:Action="http://service.uas.com/UASWebService/getHistoryByUserRequest" message="tns:getHistoryByUser"/>
<output wsam:Action="http://service.uas.com/UASWebService/getHistoryByUserResponse" message="tns:getHistoryByUserResponse"/>
</operation>
<operation name="searchMenu">
<input wsam:Action="http://service.uas.com/UASWebService/searchMenuRequest" message="tns:searchMenu"/>
<output wsam:Action="http://service.uas.com/UASWebService/searchMenuResponse" message="tns:searchMenuResponse"/>
</operation>
<operation name="updateMenu">
<input wsam:Action="http://service.uas.com/UASWebService/updateMenuRequest" message="tns:updateMenu"/>
<output wsam:Action="http://service.uas.com/UASWebService/updateMenuResponse" message="tns:updateMenuResponse"/>
</operation>
<operation name="registerUser">
<input wsam:Action="http://service.uas.com/UASWebService/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://service.uas.com/UASWebService/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
<operation name="updateProfile">
<input wsam:Action="http://service.uas.com/UASWebService/updateProfileRequest" message="tns:updateProfile"/>
<output wsam:Action="http://service.uas.com/UASWebService/updateProfileResponse" message="tns:updateProfileResponse"/>
</operation>
<operation name="getAllMenu">
<input wsam:Action="http://service.uas.com/UASWebService/getAllMenuRequest" message="tns:getAllMenu"/>
<output wsam:Action="http://service.uas.com/UASWebService/getAllMenuResponse" message="tns:getAllMenuResponse"/>
</operation>
<operation name="deleteMenu">
<input wsam:Action="http://service.uas.com/UASWebService/deleteMenuRequest" message="tns:deleteMenu"/>
<output wsam:Action="http://service.uas.com/UASWebService/deleteMenuResponse" message="tns:deleteMenuResponse"/>
</operation>
<operation name="addMenu">
<input wsam:Action="http://service.uas.com/UASWebService/addMenuRequest" message="tns:addMenu"/>
<output wsam:Action="http://service.uas.com/UASWebService/addMenuResponse" message="tns:addMenuResponse"/>
</operation>
<operation name="getHistoryByPeriod">
<input wsam:Action="http://service.uas.com/UASWebService/getHistoryByPeriodRequest" message="tns:getHistoryByPeriod"/>
<output wsam:Action="http://service.uas.com/UASWebService/getHistoryByPeriodResponse" message="tns:getHistoryByPeriodResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://service.uas.com/UASWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://service.uas.com/UASWebService/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="UASWebServicePortBinding" type="tns:UASWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHistoryByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHistoryByPeriod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UASWebService">
<port name="UASWebServicePort" binding="tns:UASWebServicePortBinding">
<soap:address location="http://localhost:8080/UASWebService/UASWebService"/>
</port>
</service>
</definitions>